@import url(./font.css);
@import url(./vars.css);

$phone: "only screen and (max-width : 819px)";
$tablet: "only screen and (min-width : 820px)";
$desktop: "screen and (min-width : 1200px)";

body,
html {
    width: 100%;
    overflow-x: hidden;
    position: relative;
    background-color: var(--main-color);

    .flex {
        display: flex;
    }

    * {
        font-family: 'Dia_light';
    }
}

section {
    width: 100%;
    height: 100vh;
    background-color: var(--main-color);
    overflow-x: hidden;
}

#home {
    position: relative;

    nav {
        @media #{$phone} {
            display: none;
        }

        @media #{$tablet} {
            display: none;
        }

        @media #{$desktop} {
            display: block;
        }

        position: fixed;
        top: 30px;
        left: 50%;
        transform: translatex(-50%);
        border-radius: 30px;
        border: 3px solid var(--black);
        background-color: var(--point2-color);
        z-index: 999;

        ul {
            align-items: center;
            justify-content: center;
            gap: 90px;
            font-size: 22px;
            padding: 0px 50px;

            li {
                a {
                    font-family: 'Dia_bold';
                    display: block;
                    padding: 5px;
                    transition: 0.35s;

                    &:hover {
                        color: var(--point1-color);
                        text-shadow: 1px 1px 5px #000;
                    }

                    &.on {
                        color: var(--point1-color);
                        text-shadow: 1px 1px 5px #000;
                    }
                }
            }

            img {
                width: 50px;
                transition: 0.35s;

                &:hover {
                    transform: rotate(180deg);
                }
            }
        }
    }

    .mobile-menu {
        .icon {
            @media #{$phone} {
                display: block;
            }

            @media #{$tablet} {
                display: block;
            }

            @media #{$desktop} {
                display: none;
            }

            top: 10px;
            right: 10px;
            position: fixed;
            width: 50px;
            height: 50px;
            z-index: 999;


            &.on {
                span {
                    &:nth-child(1) {
                        transform: rotate(45deg) translate(10px, 11px);
                    }

                    &:nth-child(2) {
                        display: none;
                    }

                    &:nth-child(3) {
                        transform: rotate(-45deg);
                    }
                }
            }

            span {
                transition: 0.35s;
                display: block;
                width: 40px;
                height: 5px;
                margin: 10px 5px;
                border-radius: 99px;
                background: var(--black);
            }
        }

        .menu {
            position: fixed;
            left: 100%;
            width: 100%;
            height: 100%;
            background-color: var(--main-color);
            z-index: 990;
            display: flex;
            align-items: center;
            transition: 0.35s;

            ul {
                font-size: 35px;

                li {
                    margin: 20px;

                    a {
                        display: block;
                    }
                }
            }
        }
    }

    .wrap {
        position: absolute;
        margin: 0;
        width: 100%;

        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: var(--point2-color);
        display: flex;
        align-items: center;
        justify-content: center;

        .cover {
            width: 1300px;
            height: 10px;
            background-color: var(--main-color);
            position: absolute;
            z-index: 99;
            top: 63%;
        }

        .star {
            position: relative;
            width: 100%;
            height: 900px;
            overflow: hidden;

            .frame {
                z-index: 10;
                position: absolute;
                width: 100%;
                height: 100%;
            }

            .moon {
                display: none;
                position: absolute;
                width: 95%;
                z-index: 5;
                top: 30%;
                left: 0%;
                animation: spanAni 90s linear infinite;
            }

            canvas {
                margin: 0;
                padding: 0;
                display: block;
                width: 100%;
                height: 99%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: #000;
                z-index: 0;
            }
        }

        img {
            width: 100%;
            margin-bottom: 50px;
        }

        .main-text {
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        h1 {
            display: inline;
            position: relative;
            font-family: 'Dia_bold';
            font-size: 60px;
            transition: 0.35s;

            &:hover {
                color: var(--point1-color);
            }
        }

        p {
            font-size: 24px;
            padding: 20px 0px 50px;

            span {
                color: var(--point1-color);
            }
        }

        .a-text {
            padding: 5px 10px;
            font-size: 24px;
            border-radius: 30px;
            transition: 0.5s;
            font-family: 'Dia_bold';

            &:hover {
                background-color: var(--point1-color);
                color: var(--black);
            }
        }
    }
}

.field {
    width: 50px;
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);

    .mouse {
        width: 40px;
        height: 72px;
        border: 3px solid var(--point2-color);
        border-radius: 60px;
        position: relative;

        &::before {
            content: '';
            width: 9px;
            height: 9px;
            position: absolute;
            top: 8px;
            left: 50%;
            transform: translateX(-50%);
            background-color: var(--point2-color);
            border-radius: 50%;
            opacity: 1;
            animation: wheel 2s infinite;
            -webkit-animation: wheel 2s infinite;
        }
    }
}

#project {
    position: relative;
    justify-content: center;
    align-items: center;


    @media #{$phone} {
        display: flex;
        flex-direction: column-reverse;
        gap: 4%;
    }

    @media #{$tablet} {
        display: flex;
        flex-direction: column-reverse;
        gap: 4%;
    }

    @media #{$desktop} {
        display: flex;
        flex-direction: row;
        gap: 10%;
    }

    .nav {
        @media #{$phone} {
            top: 5%;
            right: 50%;
            transform: translateX(50%);
        }

        @media #{$tablet} {
            top: 5%;
            right: 50%;
            transform: translateX(50%);
        }

        @media #{$desktop} {
            top: 16%;
            right: 37%;
            transform: translateX(0%);
        }

        position: absolute;
        display: flex;
        gap: 20px;

        li {
            a {
                display: block;
                font-size: 30px;
                font-family: 'Dia_bold';
                letter-spacing: -2px;
                color: var(--gray);
                transition: 0.35s;

                &.on {
                    color: var(--point1-color);
                }
            }
        }
    }

    .text {
        @media #{$phone} {
            width: 90%;
            height: 35%;
        }

        @media #{$tablet} {
            width: 80%;
            height: 35%;
        }

        @media #{$desktop} {
            width: 32%;
            height: 50%;
        }

        position: relative;
        top: 50px;
        padding: 10px;
        transition: 0.5s;
        border-radius: 30px;
        overflow: hidden;
        color: var(--point2-color);

        &::before {
            content: '';
            width: 100%;
            height: 100%;
            background-color: var(--point1-color);
            position: absolute;
            left: 0;
            top: 0;
            z-index: 2;
            transition: 0.35s;
            transition-delay: 0.35s;
        }

        &::after {
            content: '';
            width: 100%;
            height: 100%;
            background: var(--main-color);
            position: absolute;
            left: 0;
            top: 0;
            z-index: 3;
            transition: 0.35s;
        }

        &.active {
            top: 0px;

            &::before {
                height: 0;
            }

            &::after {
                height: 0;
            }
        }

        h2 {
            @media #{$phone} {
                font-size: 70px;
            }

            @media #{$tablet} {
                font-size: 70px;
            }

            @media #{$desktop} {
                font-size: 80px;
            }

            font-family: 'Dia_bold';

        }

        a {
            @media #{$phone} {
                margin-top: 30px;
            }

            @media #{$tablet} {
                margin-top: 30px;
            }

            @media #{$desktop} {
                margin-top: 100px;
            }

            border: 3px solid #000;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            background-color: var(--point2-color);
            color: var(--white100);
            border-radius: 99px;
            padding: 10px 30px;
            gap: 10px;

            p {
                @media #{$phone} {
                    font-size: 20px;
                }

                @media #{$tablet} {
                    font-size: 20px;
                }

                @media #{$desktop} {
                    font-size: 30px;
                }

                font-family: 'Dia_bold';
                color: var(--black);
            }

            img {
                @media #{$phone} {
                    width: 20px;
                    height: 20px;
                }

                @media #{$tablet} {
                    width: 20px;
                    height: 20px;
                }

                @media #{$desktop} {
                    width: 35px;
                    height: 35px;
                }

                animation: spanAni 8s infinite linear;
            }
        }

        .project_coment {
            @media #{$phone} {
                height: 10vh;
                margin-top: 30px;
            }

            @media #{$tablet} {
                height: 10vh;
                margin-top: 30px;
            }

            @media #{$desktop} {
                height: 15vh;
                margin-top: 60px;
            }

            position: relative;
            height: 15vh;
            margin-top: 60px;

            li {
                @media #{$phone} {
                    font-size: 19px;
                }

                @media #{$tablet} {
                    font-size: 19px;
                }

                @media #{$desktop} {
                    font-size: 24px;
                }

                display: none;
                font-family: 'Dia_medium';

                &.on {
                    display: block;
                }

                span {
                    color: var(--point1-color);
                    font-family: 'Dia_medium';
                }
            }
        }

        .project_num {
            @media #{$phone} {
                font-size: 70px;
                top: 32%;
                right: 10px;
            }

            @media #{$tablet} {
                font-size: 70px;
                top: 32%;
                right: 10px;
            }

            @media #{$desktop} {
                font-size: 80px;
                top: 10px;
                right: 10px;
            }

            position: absolute;
            letter-spacing: -10px;

            li {
                display: none;
                font-family: 'Dia_bold';
                font-size: 80px;

                &.on {
                    display: block;
                }
            }


        }
    }

    .img {
        @media #{$phone} {
            width: 90%;
            height: 40%;
        }

        @media #{$tablet} {
            width: 80%;
            height: 40%;
        }

        @media #{$desktop} {
            width: 40%;
            height: 60%;
        }

        position: relative;
        height: 60vh;
        border-radius: 30px;
        overflow: hidden;

        &::before {
            content: '';
            width: 100%;
            height: 100%;
            background-color: var(--point1-color);
            position: absolute;
            left: 0;
            top: 0;
            z-index: 2;
            transition: 0.35s;
            transition-delay: 0.35s;
        }

        &::after {
            content: '';
            width: 100%;
            height: 100%;
            background: var(--main-color);
            position: absolute;
            left: 0;
            top: 0;
            z-index: 3;
            transition: 0.35s;
        }

        &.active::before {
            width: 0;
        }

        &.active::after {
            width: 0;
        }

        ul {
            display: flex;
            width: 400%;
            height: 100%;

            li {
                width: 100%;
                height: 100%;

                &:nth-child(1) {
                    background: url(../img/project01.png) no-repeat right;
                    background-size: cover;
                }

                &:nth-child(2) {
                    background: url(../img/project02.png) no-repeat right;
                    background-size: cover;
                }

                &:nth-child(3) {
                    background: url(../img/splide3.jpg) no-repeat center;
                    background-size: cover;
                }

                &:nth-child(4) {
                    background: url(../img/splide4.jpg) no-repeat center;
                    background-size: cover;
                }
            }
        }
    }

    .splide {
        @media #{$phone} {
            display: none;
        }

        @media #{$tablet} {
            display: none;
        }

        @media #{$desktop} {
            display: inline;
        }

        border: 3px solid #000;
        width: 200px;
        border-radius: 99px;
        overflow: hidden;
        position: absolute;
        top: 73%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--point2-color);
        z-index: 10;

        .splide__list {
            display: flex;
            align-items: center;

            li {
                padding: 10px 0px;
                font-size: 25px;
                font-family: 'Dia_bold';

                img {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
}

.wrap_wrap {
    &.w2 {
        @media #{$phone} {
            top: 382vh;
            left: -10%;
        }

        @media #{$tablet} {
            top: 382vh;
            left: -10%;
        }

        @media #{$desktop} {
            top: 382vh;
            left: -3%;
        }

        rotate: 4deg;
        background-color: var(--white100);
    }

    &.w1 {
        @media #{$phone} {
            top: 245vh;
            left: -10%;
        }

        @media #{$tablet} {
            top: 265vh;
            left: -10%;
        }

        @media #{$desktop} {
            top: 195vh;
            left: -3%;
        }

        rotate: -7.5deg;
        background-color: var(--point1-color);
    }

    display: inline;
    border: 3px solid #000;
    width: 2200px;
    border-radius: 99px;
    overflow: hidden;
    position: absolute;
    transition: 0.5s;
    z-index: 50;

    .list {
        display: flex;
        gap: 20px;

        li {
            display: flex;
            align-items: center;
            padding: 10px 0px;
            font-size: 54px;
            font-family: 'Dia_bold';

            img {
                width: 30px;
                height: 30px;
                transition: 0.5s;
            }
        }
    }
}

#work {
    position: relative;
    overflow: hidden;

    .work-inner {
        width: 100%;
        height: 100%;
        position: relative;

        h2 {
            @media #{$phone} {
                left: 50%;
                bottom: 10px;
                transform: translateX(-50%);
                font-size: 100px;
                -webkit-text-stroke: 3px var(--point2-color);
            }

            @media #{$tablet} {
                left: 50%;
                bottom: 10px;
                transform: translateX(-50%);
                font-size: 100px;
                -webkit-text-stroke: 3px var(--point2-color);
            }

            @media #{$desktop} {
                left: 1%;
                bottom: 0;
                transform: translateX(0%);
                font-size: 200px;
                -webkit-text-stroke: 1px var(--point2-color);
            }

            font-family: 'Dia_bold';
            position: absolute;
            color: transparent;
            white-space: nowrap;
        }

        .coment {
            @media #{$phone} {
                display: none;
            }

            @media #{$tablet} {
                display: none;
            }

            @media #{$desktop} {
                display: block;
            }

            width: 480px;
            position: absolute;
            left: 1.5%;
            bottom: 24%;
            color: var(--point2-color);

            p {
                display: none;
                width: 100%;
                height: 240px;
                font-size: 24px;
                font-family: 'Dia_light';

                span {
                    display: block;
                    padding: 20px 0;
                    font-family: 'Dia_medium';
                    color: var(--point1-color);
                }
            }
        }

        ul {
            @media #{$phone} {
                display: flex;
            }

            @media #{$tablet} {
                display: flex;
            }

            @media #{$desktop} {
                display: block;
            }

            position: absolute;

            &.list1 {
                @media #{$phone} {
                    top: 0%;
                }

                @media #{$tablet} {
                    top: 0%;
                }

                @media #{$desktop} {
                    top: 0;
                    right: 1%;
                }

                li {
                    &.item1 {
                        a {
                            background: url(../img/work1-1.png);
                            background-size: cover;

                            &:hover {
                                background: url(../img/work1-2.png);
                                background-size: cover;
                            }
                        }
                    }

                    &.item2 {
                        a {
                            background: url(../img/work2-1.png);
                            background-size: cover;

                            &:hover {
                                background: url(../img/work2-2.png);
                                background-size: cover;
                            }
                        }
                    }

                    &.item3 {
                        a {
                            background: url(../img/work3-1.png);
                            background-size: cover;

                            &:hover {
                                background: url(../img/work3-2.png);
                                background-size: cover;
                            }
                        }
                    }

                    &.item4 {
                        a {
                            background: url(../img/work4-1.png);
                            background-size: cover;

                            &:hover {
                                background: url(../img/work4-2.png);
                                background-size: cover;
                            }
                        }
                    }

                    &.item5 {
                        a {
                            background: url(../img/work5-1.png);
                            background-size: cover;

                            &:hover {
                                background: url(../img/work5-2.png);
                                background-size: cover;
                            }
                        }
                    }

                    &.item6 {
                        a {
                            background: url(../img/work6-1.png);
                            background-size: cover;

                            &:hover {
                                background: url(../img/work6-2.png);
                                background-size: cover;
                            }
                        }
                    }

                    &.item7 {
                        a {
                            background: url(../img/work7-1.png);
                            background-size: cover;

                            &:hover {
                                background: url(../img/work7-2.png);
                                background-size: cover;
                            }
                        }
                    }

                    &.item8 {
                        a {
                            background: url(../img/work8-1.png);
                            background-size: cover;

                            &:hover {
                                background: url(../img/work8-2.png);
                                background-size: cover;
                            }
                        }
                    }

                    &.item9 {
                        a {
                            background: url(../img/work9-1.png);
                            background-size: cover;

                            &:hover {
                                background: url(../img/work9-2.png);
                                background-size: cover;
                            }
                        }
                    }

                    &.item10 {
                        a {
                            background: url(../img/work10-1.png);
                            background-size: cover;

                            &:hover {
                                background: url(../img/work10-2.png);
                                background-size: cover;
                            }
                        }
                    }
                }
            }

            &.list2 {
                @media #{$phone} {
                    top: 26%;
                }

                @media #{$tablet} {
                    top: 38%;
                }

                @media #{$desktop} {
                    top: 0;
                    right: 25%;
                }

                li {
                    &.item11 {
                        a {
                            background: url(../img/work11-1.png);
                            background-size: cover;

                            &:hover {
                                background: url(../img/work11-2.png);
                                background-size: cover;
                            }
                        }
                    }

                    &.item12 {
                        a {
                            background: url(../img/work12-1.png);
                            background-size: cover;

                            &:hover {
                                background: url(../img/work12-2.png);
                                background-size: cover;
                            }
                        }
                    }

                    &.item13 {
                        a {
                            background: url(../img/work13-1.png);
                            background-size: cover;

                            &:hover {
                                background: url(../img/work13-2.png);
                                background-size: cover;
                            }
                        }
                    }

                    &.item14 {
                        a {
                            background: url(../img/work14-1.png);
                            background-size: cover;

                            &:hover {
                                background: url(../img/work14-2.png);
                                background-size: cover;
                            }
                        }
                    }

                    &.item15 {
                        a {
                            background: url(../img/work15-1.png);
                            background-size: cover;

                            &:hover {
                                background: url(../img/work15-2.png);
                                background-size: cover;
                            }
                        }
                    }

                    &.item16 {
                        a {
                            background: url(../img/work16-1.png);
                            background-size: cover;

                            &:hover {
                                background: url(../img/work16-2.png);
                                background-size: cover;
                            }
                        }
                    }

                    &.item17 {
                        a {
                            background: url(../img/work17-1.png);
                            background-size: cover;

                            &:hover {
                                background: url(../img/work17-2.png);
                                background-size: cover;
                            }
                        }
                    }

                    &.item18 {
                        a {
                            background: url(../img/work18-1.png);
                            background-size: cover;

                            &:hover {
                                background: url(../img/work18-2.png);
                                background-size: cover;
                            }
                        }
                    }
                }
            }

            li {
                @media #{$phone} {
                    width: 200px;
                    height: 200px;
                }

                @media #{$tablet} {
                    width: 280px;
                    height: 280px;
                }

                @media #{$desktop} {
                    width: 320px;
                    height: 320px;
                }

                width: 100%;

                a {
                    display: block;
                    width: 90%;
                    height: 90%;
                    border-radius: 15px;
                    overflow: hidden;
                    transition: 0.35s;
                    background-position: center;
                    background-repeat: no-repeat;
                    filter: grayscale(1);

                    &:hover {
                        filter: grayscale(0);
                    }
                }
            }
        }
    }
}

#graphic {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    h2 {
        position: absolute;
        font-size: 90px;
        font-family: "Dia_bold";
        color: var(--point2-color);
        top: 15.5%;
        right: 1%;
        z-index: 50;
        rotate: -2deg;
        letter-spacing: -5px;
        -webkit-text-stroke: 2px black;
    }

    .splide {
        position: relative;
        width: 110%;
        display: flex;
        align-items: center;
        justify-content: center;

        .splide__track {
            ul {
                li {
                    img {
                        height: 380px;
                    }
                }
            }

            &-2 {
                padding: 50px 0px;
                background-color: var(--point1-color);
                rotate: -2deg;

                ul {
                    li {
                        color: black;

                    }
                }
            }
        }
    }
}

#aboutme {
    overflow: hidden;
    position: relative;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 75%);

    .wrap {
        width: 20vw;
        height: 65vh;
        position: absolute;
        top: 13%;
        left: -11%;
        margin-top: -4vh;
        transition: 1s;
        rotate: 90deg;
        z-index: 50;

        article {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0px;
            left: 0px;

            &:nth-child(1) {
                .inner {
                    background-color: var(--point2-color);

                    &::after {
                        content: '';
                        width: 500px;
                        height: 500px;
                        border-radius: 9999px;
                        position: absolute;
                        top: 0;
                        left: 0;
                        background: linear-gradient(to right, rgba(194, 253, 45, 0.7), transparent), url(https://grainy-gradients.vercel.app/noise.svg);
                        opacity: 100%;
                        z-index: 50;
                    }
                }
            }

            &:nth-child(2) {
                .inner {
                    background: rgb(241, 87, 49);
                    background: linear-gradient(270deg, rgba(241, 87, 49, 1) 0%, rgba(210, 204, 190, 1) 59%);

                    &::after {
                        content: '';
                        width: 500px;
                        height: 500px;
                        border-radius: 9999px;
                        position: absolute;
                        top: 0;
                        left: 0;
                        background: url(https://grainy-gradients.vercel.app/noise.svg);
                        opacity: 100%;
                        z-index: 50;
                    }
                }
            }

            &:nth-child(3) {
                .inner {
                    background: rgb(0,151,160);
                    background: linear-gradient(54deg, rgba(0,151,160,1) 0%, rgba(229,208,187,1) 39%);

                    &::after {
                        content: '';
                        width: 500px;
                        height: 500px;
                        border-radius: 9999px;
                        position: absolute;
                        top: 0;
                        left: 0;
                        background: url(https://grainy-gradients.vercel.app/noise.svg);
                        opacity: 100%;
                        z-index: 50;
                    }
                }
            }

            &:nth-child(4) {
                .inner {
                    background: rgb(176,35,51);
                    background: linear-gradient(163deg, rgba(176,35,51,1) 0%, rgba(254,210,203,1) 49%);

                    &::after {
                        content: '';
                        width: 500px;
                        height: 500px;
                        border-radius: 9999px;
                        position: absolute;
                        top: 0;
                        left: 0;
                        background: url(https://grainy-gradients.vercel.app/noise.svg);
                        opacity: 100%;
                        z-index: 50;
                    }
                }
            }

            &:nth-child(5) {
                .inner {
                    background: rgb(29,69,58);
                    background: linear-gradient(240deg, rgba(29,69,58,1) 15%, rgba(252,239,204,1) 49%);

                    &::after {
                        content: '';
                        width: 500px;
                        height: 500px;
                        border-radius: 9999px;
                        position: absolute;
                        top: 0;
                        left: 0;
                        background: url(https://grainy-gradients.vercel.app/noise.svg);
                        opacity: 100%;
                        z-index: 50;
                    }
                }
            }

            &:nth-child(6) {
                .inner {
                    background: rgb(39, 94, 255);
                    background: linear-gradient(143deg, rgba(39, 94, 255, 1) 0%, rgba(204, 204, 202, 1) 100%);

                    &::after {
                        content: '';
                        width: 500px;
                        height: 500px;
                        border-radius: 9999px;
                        position: absolute;
                        top: 0;
                        left: 0;
                        background: url(https://grainy-gradients.vercel.app/noise.svg);
                        opacity: 100%;
                        z-index: 50;
                    }
                }
            }

            &:nth-child(7) {
                .inner {
                    background: rgb(229,248,252);
                    background: radial-gradient(circle, rgba(229,248,252,1) 33%, rgba(178,126,246,1) 100%);

                    &::after {
                        content: '';
                        width: 500px;
                        height: 500px;
                        border-radius: 9999px;
                        position: absolute;
                        top: 0;
                        left: 0;
                        background: url(https://grainy-gradients.vercel.app/noise.svg);
                        opacity: 100%;
                        z-index: 50;
                    }
                }
            }

            &:nth-child(8) {
                .inner {
                    background: rgb(232,233,227);
                    background: radial-gradient(circle, rgba(232,233,227,1) 40%, rgba(3,100,211,1) 100%);

                    &::after {
                        content: '';
                        width: 500px;
                        height: 500px;
                        border-radius: 9999px;
                        position: absolute;
                        top: 0;
                        left: 0;
                        background: url(https://grainy-gradients.vercel.app/noise.svg);
                        opacity: 100%;
                        z-index: 50;
                    }
                }
            }

            &.on {
                .inner {
                    opacity: 1.0;
                    transform: scale(1.1);
                }
            }

            .inner {
                width: 500px;
                height: 500px;
                position: relative;
                box-sizing: border-box;
                flex-wrap: wrap;
                border-radius: 9999px;
                box-shadow: 10px 10px 20px rgba(204, 204, 204, 0.658);
                opacity: 0.4;
                transform: scale(0.8);
                transition: opacity 1s, transform 1s;

                .pic {
                    width: 15vw;
                    height: 15vw;
                    margin: 0px auto;
                    border-radius: 50%;
                    background-repeat: no-repeat;
                    background-position: 200%;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &.on {
                        &::after {
                            animation: ani 4s linear infinite;
                        }

                        &::before {
                            animation: ani2 4s linear infinite;
                        }
                    }

                    &::before,
                    &::after {
                        content: "";
                        display: block;
                        width: inherit;
                        height: inherit;
                        border-radius: inherit;
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        background-image: inherit;
                        background-position: center;
                        background-repeat: inherit;
                        background-size: cover;
                        transform-origin: center center;
                    }

                    &::before {
                        transform: translateY(10%);
                        filter: blur(20px) brightness(1.6);
                    }
                }

                .txt {
                    text-align: center;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) rotate(-90deg);
                    z-index: 60;

                    h2 {
                        font-size: 24px;
                        font-family: 'Dia_medium';
                        color: #222;
                    }

                    p {
                        font-family: 'Dia_light';
                        font-size: 18px;
                        color: #777;
                    }
                }
            }
        }
    }

    .btnPrev {
        width: 120px;
        height: 60px;
        position: absolute;
        top: 35%;
        left: 85%;
        display: flex;
        align-items: center;
        text-align: left;
        cursor: pointer;
        z-index: 999;

        &::before {
            content: "";
            background: url(../img/star_w.png);
            background-size: cover;
            width: 40px;
            height: 40px;
            transition: 0.35s;
            position: absolute;
            top: 50%;
            left: 20px;
            transform: translate(-50%, -50%);
        }

        &:hover {
            &::before {
                transform: translate(-50%, -50%) rotate(-90deg);
            }

            span {
                transform: translatey(50%) scale(1.1);
            }
        }

        span {
            font-family: 'Dia_medium';
            color: #fff;
            opacity: 1;
            transform: translatey(50%);
            transition: 0.5s;
            position: absolute;
            bottom: 50%;
            right: 0%;
        }
    }

    .btnNext {
        width: 120px;
        height: 60px;
        position: absolute;
        top: 55%;
        left: 85%;
        display: flex;
        align-items: center;
        text-align: right;
        cursor: pointer;
        z-index: 999;

        &::before {
            content: "";
            background: url(../img/star_w.png);
            background-size: cover;
            width: 40px;
            height: 40px;
            transition: 0.35s;
            position: absolute;
            top: 50%;
            right: -20px;
            transform: translate(-50%, -50%);
        }

        &:hover {
            &::before {
                transform: translate(-50%, -50%) rotate(90deg);
            }

            span {
                transform: translatey(-50%) scale(1.1);
            }
        }

        span {
            font-family: 'Dia_medium';
            color: #fff;
            opacity: 1;
            transform: translateY(-50%);
            transition: 0.5s;
            position: absolute;
            top: 50%;
            left: 0%;
        }
    }

    .moon {
        img {
            width: 40%;
            position: absolute;
            top: 50%;
            left: 0%;
            transform: translate(-50%, -50%) rotate(0deg);
            transition: 1s;
            z-index: 50;
        }
    }

    #space-container-top {
        opacity: 1.0;
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        z-index: 1;
    }
}


@keyframes ani {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes ani2 {
    0% {
        transform: translateY(10%) rotate(0deg);
    }

    100% {
        transform: translateY(10%) rotate(360deg);
    }
}

@keyframes spanAni {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes spanAni2 {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes wheel {
    to {
        opacity: 0;
        top: 48px;
    }
}

@-webkit-keyframes wheel {
    to {
        opacity: 0;
        top: 48px;
    }
}